RewriteEngine On

# Force HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://coach.abdullahafsar.site%{REQUEST_URI} [R=301,L]

# Remove www
RewriteCond %{HTTP_HOST} ^www\.coach\.abdullahafsar\.site$ [NC]
RewriteRule ^ https://coach.abdullahafsar.site%{REQUEST_URI} [R=301,L]
